*,
*::before,
*::after {
   box-sizing: inherit;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
img,
li,
form,
label,
footer,
header,
main,
nav,
section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   box-sizing: border-box;
}

img {
   vertical-align: middle;
}

li {
   list-style-type: none;
}



/*Start*/

@font-face {
   font-family: "PF Bague Sans Pro";
   src: url("../assets/fonts/PFBagueSansPro.eot");
   src: local("../assets/fonts/PF Bague Sans Pro"), local("PFBagueSansPro"),
      url("../assets/fonts/PFBagueSansPro.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/PFBagueSansPro.woff2") format("woff2"),
      url("../assets/fonts/PFBagueSansPro.woff") format("woff"),
      url("../assets/fonts/PFBagueSansPro.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "PF Bague Sans Pro";
   src: url("../assets/fonts/PFBagueSansPro-Bold.eot");
   src: local("../assets/fonts/PF Bague Sans Pro Bold"), local("PFBagueSansPro-Bold"),
      url("../assets/fonts/PFBagueSansPro-Bold.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/PFBagueSansPro-Bold.woff2") format("woff2"),
      url("../assets/fonts/PFBagueSansPro-Bold.woff") format("woff"),
      url("../assets/fonts/PFBagueSansPro-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}

html {
   font-family: "PF Bague Sans Pro";
   font-style: normal;
   font-weight: normal;
   line-height: 1.2;
   font-size: 10px;
}

#app {
   position: relative;
   width: 1366px;
   margin: 0 auto;
}